body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.menu{
    width: 350px;
    border-right: 1px solid;
    background-color: red;
}

.flex-container {
    display: flex;

}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
  }

#menuSelect{
    width: 220px ;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    padding-left: 5px;
}

.inputsAxis{
    width: 180px;
    height: 25px;
    background-color: white;
    font-weight: bold;
    padding-left: 5px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(121, 121, 212);
    margin-bottom: 2px;

}

.labels{
    font-size: 20px;
    
}

#listCommands{
    width: 220px;
    border-radius: 5px;
    border-color: rgb(121, 121, 212);
    margin-top: 20px;
    padding-left: 5px;
}

#listCommands > option{
    font-size: 15px;
    padding-bottom: 5px;
}

.menuButton{
    width: 80px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

h3{
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px; 
}

.add{
    background-color: rgb(6, 160, 6);
}

.add:hover{
    background-color:rgb(22, 90, 17);
}


.play{
    background-color:rgb(88, 88, 240);
}

.play:hover{
    background-color:rgb(148, 148, 253);
}

.remove{
    background-color:rgb(241, 15, 15);
}

.remove:hover{
    background-color:rgb(122, 13, 13);
}


#uiContainer{
    border: 1px solid;
    font-size: 15px;
    height: 100%;

}

.zoom {

    fill: red;;
    stroke: none;
}